<div class="about-main">
  <div class="about-top">
    <h2>CreativeDiary</h2>
    <p>〜 Service efficiency improvement diary 〜</p>
    <br>
    <p>
      さぁ、開発しよう。
      あなたの創造を形にして記憶する。
    </p>
  </div>
  <div class="about-add">
    <img class="about-img" src="/about-image.png">
    <ul class="about-word">
      <li>みんなの日記で情報共有！</li>
      <br>
      <li>過去の書き込みや、みんなの情報を検索</li>
    </ul>
  </div>
</div>
