<div class="main top-main">
  <div class="top-message">
    <h2>あなたのアイディアは、世界を変える。</h2>
    <br>
    <p>未来のために日々の積み重ねを記憶しよう。</p>
  </div>
  <div class="top-buttun">
    <ul data-aos="fade-up" data-aos-duration="1000">
      <li class="arrow_btn">
        <%= link_to("新規登録", "/signup") %>
        <span><i class="fas fa-arrow-circle-right fa-fw"></i></span>
      </li>
      <li class="arrow_btn">
        <%= link_to("ログイン", "/login") %>
        <span><i class="fas fa-arrow-circle-right fa-fw"></i></span>
      </li>
    </ul>
  </div>
</div>

